$seattlebtn: #CD5C5C;
$londonbtn: #228B22;
$weatherbtn: 	#9932CC;

$black: #000000;

$btnbackground: #E6E6FA;
$active: #FFF0F5;
$hoverfocus: #FFE4E1;

$margins: 2rem 2rem;

$bodybackground: #becde5;

$list: "seattle", "london", "local"
