@import "variables";

html {
  font: normal normal 16px/1.4 Helvetica, sans-serif;
}

body {
  background-color: $bodybackground;
}


.seattlebutton {
  color: $seattlebtn;
  margin: $margins;

  &:hover,
  &focus {
    background-color: $hoverfocus;
  }

  &:active {
    background-color: $active;
  }
}

.londonbutton {
  color: $londonbtn;
  margin: $margins;

  &:hover,
  &focus {
    background-color: $hoverfocus;
  }

  &:active {
    background-color: $active;
  }
}

.weatherbutton {
  color: $weatherbtn;
  margin: $margins;

  &:hover,
  &focus {
    background-color: $hoverfocus;
  }

  &:active {
    background-color: $active;
  }
}

.weatherDiv {
  margin: $margins;
}

button {
  background-color: $btnbackground;
}

h1 {
  margin: $margins;
}

@each $city in $list {
  .photo-#{$city} {
    background-image: url('/images/#{$city}.png')
    }
}
